%h1 The Home Page
%p
	Welcome
	=h @user.name
%p 
	If you can authenticate as 'admin', this page will be more interesting.
%p 
	The security of this application should prevent that.  Take a look at the 
	%a(href="/about") About page
	to learn more.
%p
	%h2 Unused accounts may be deleted after 1 hour of inactivity.
			