%h1 UNAUTHENTICATED
%p
	Welcome.
%p
	You don't appear to have a valid client certificate.
%p
	Perhaps you'd like to 
	%a(href="/cert/request") 
		request one
	or take a look at the 
	%a(href="/about") 
		about page to learn more about this application.
%p
	%h2 Unused accounts may be deleted after 1 hour of inactivity.